@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap");

body {
  margin: 0;
  background-color: #080a0b;
  background-image: url(../images/background.png);
  background-size: 100%;
  background-position: top;
  background-repeat: no-repeat;
  background-attachment: fixed;
  font-family: "Poppins", serif;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1280px;
  height: 125px;
  background-color: #111111;
  font-size: 18px;
}

.header {
  display: flex;
  justify-content: center;
  align-items: center;
}

.nav-buttons {
  text-align: right;
  display: flex;
  gap: 61px;
}

.nav-buttons a {
  color: #848484;
  text-decoration: none;
  font-size: 18px;
}

.nav-buttons a:nth-child(2) {
  font-family: "Poppins", serif;
  font-weight: 700;
  font-style: normal;
  color: #fff;
}

.monaspa-logo {
  display: flex;
  justify-content: left;
  align-items: flex-start;
  position: relative;
  top: 25px;
}

.shop-icon {
  display: flex;
  align-items: center;
}

.burger-menu {
  display: flex;
  align-items: center;
  margin-right: 16px;
}

.dropbtn {
  background-color: #111111;
  color: #fff;
  padding: 1px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-content {
  display: none;
  position: absolute;
  min-width: 50px;
  z-index: 1;
}

.dropdown-content a {
  color: #fff;
  font-size: 12px;
  padding: 6px 20px;
  text-decoration: none;
  display: block;
}

.dropdown:hover .dropdown-content {
  display: block;
}

.line {
  width: 0px;
  height: 40px;
  border: 1px solid white;
  border-radius: 1px;
}

.parent-line {
  display: flex;
}

.parent--dropdown {
  display: flex;
  gap: 11px;
}

.parent-dropdown-line {
  display: flex;
  align-items: center;
  gap: 40px;
}

.coin-photo {
  display: flex;
}

.all-together {
  display: flex;
  gap: 32px;
  margin-right: 36px;
}

.mobile-logo {
  display: none;
  height: 95%;
}

.shop-icon {
  display: none;
}

.burger-menu {
  display: none;
}

.laptop {
  display: flex;
  align-items: center;
  gap: 120px;
}

.first-section {
  display: flex;
  justify-content: center;
  align-items: center;
}

.first-photo-bg {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
  position: relative;
  width: 1240px;
  max-width: 1240px;
  height: auto;
  overflow: hidden;
}

.first-photo-bg img {
  width: 1240px;
  height: auto;
}

.first-photo-text {
  position: absolute;
  display: inline;
  font-family: "Poppins", serif;
  font-weight: 400;
  font-style: normal;
  font-size: 24px;
  color: #fff;
  text-align: justify;
  padding: 14px;
}

.player-photo-box {
  display: flex;
  justify-content: center;
  gap: 14px;
  margin-top: 60px;
  flex-wrap: wrap;
}

.matches {
  width: 170px;
  height: 50px;
  background-color: #fff;
  color: #333333;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.matches-txt {
  font-size: 24px;
}

.results {
  width: 170px;
  height: 50px;
  background-color: #9a9a9a;
  color: #333333;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-right-style: solid;
  border-left-style: solid;
  border-color: #000;
}

.results-txt {
  font-size: 24px;
}

.news {
  width: 170px;
  height: 50px;
  background-color: #9a9a9a;
  color: #333333;
  margin-top: 75px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.news-txt {
  font-size: 24px;
}

.matches-results-news-combined {
  display: flex;
  justify-content: center;
  align-items: center;
}

.matches-results-news {
  width: 1240px;
  display: flex;
  justify-content: flex-start;
}

.all-container {
  margin-top: 40px;
  display: flex;
  flex-direction: column;
  gap: 8px;
}

.parent-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

.container {
  width: 1240px;
  height: 120px;
  background-color: #1d2224;
  color: #fff;
  display: flex;
  justify-content: center;
  align-items: center;
}

.inside-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 1192px;
}

.total-score {
  font-size: 20px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
}

.center {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
}

.score {
  display: flex;
  font-size: 20px;
}

.info-description {
  width: 84px;
  height: 70px;
}

p {
  margin: 0;
}

.dota {
  font-size: 40px;
  font-family: "Bebas Neue", serif;
  font-weight: 400;
  font-style: normal;
  color: #fff;
}

.date {
  font-size: 10px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  color: #6f787b;
}

.time {
  font-size: 10px;
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  color: #6f787b;
}

.date-time {
  display: flex;
  gap: 8px;
}

.epl {
  font-family: "Poppins", serif;
  font-weight: 500;
  font-style: normal;
  color: #fff;
}

.parent-epl {
  display: flex;
}

.first-number {
  color: #ed1027;
}

.space {
  color: #a5aaac;
}

.second-number {
  color: #dbedf4;
}

.container-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 16px;
}

.all-container-mobile {
  display: flex;
  flex-direction: column;
  gap: 8px;
  margin-bottom: 67px;
}

.container-mobile {
  display: none;
}

footer {
  height: 243px;
  width: 100%;
  background-color: #171b1c;
}

.logo-copyright {
  display: flex;
  align-items: center;
  gap: 10px;
}

.footer-text-left {
  display: flex;
  flex-direction: column;
  gap: 16px;
}

.footer-top-text {
  font-size: 12px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: #fff;
}

.footer-bottom-text {
  font-size: 12px;
  font-family: "Poppins", serif;
  font-weight: 600;
  font-style: normal;
  color: #3db3a2;
}

.right-text {
  width: 306px;
  color: #fff;
  font-size: 12px;
  text-align: right;
}

.footer-tel {
  color: #e93830;
}

.footer-mail {
  color: #e93830;
}

.socials {
  display: flex;
  gap: 10px;
  justify-content: end;
}

.socials-contact {
  display: flex;
  flex-direction: column;
  gap: 32px;
}

.socials-footer-text {
  display: flex;
}

.all-footer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: 1240px;
  margin: auto;
}

@media screen and (max-width: 550px) {
  .matches-results-news-combined {
    transform: scale(0.7);
  }
}

@media only screen and (max-width: 1100px) {
  body {
    background-image: none;
  }

  header {
    height: 53px;
  }

  .laptop {
    display: none;
  }
  .mobile-logo,
  .shop-icon,
  .burger-menu {
    display: flex;
  }

  .first-section {
    width: 100%;
  }

  .first-photo-text {
    font-size: 12px;
    text-align: center;
  }

  .player-photo-box .photo {
    width: calc(50% - 7.5px);
    margin: 0 7.5px;
    height: 236px;
    display: flex;
    text-align: justify;
  }

  .player-photo-box img {
    width: 164px;
    height: 100%;
    object-fit: cover;
  }

  .matches-results-news {
    width: 1240px;
    display: flex;
    justify-content: center;
  }

  .matches-results-news-combined {
    margin: 16px;
  }

  .matches,
  .results,
  .news {
    margin-top: 62px;
  }

  .container {
    height: 96px;
    width: 100%;
  }

  .parent-container {
    margin-inline: 16px;
  }

  .score {
    font-size: 16px;
  }

  .container-logo {
    font-size: 12px;
  }

  .container-logo img {
    height: 50px;
    width: 50px;
  }

  .dota {
    font-size: 20px;
  }

  .all-container {
    display: none;
  }

  .container-mobile {
    height: 96px;
    max-width: 1240px;
    background-color: #1d2224;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 16px;
    margin-right: 16px;
  }

  .info-description-mobile {
    display: flex;
    align-items: center;
    gap: 38px;
  }

  .date-time-mobile {
    display: flex;
    gap: 8px;
  }

  .parent-epl-mobile {
    margin-left: auto;
    font-size: 10px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: #fff;
  }

  .dota-mobile {
    font-size: 20px;
    font-family: "Bebas Neue", serif;
    font-weight: 400;
    font-style: normal;
    color: #fff;
  }

  .monaspa-logo-left,
  .monaspa-logo-right {
    color: #fff;
  }

  .date-mobile,
  .time-mobile {
    font-size: 10px;
    font-family: "Poppins", serif;
    font-weight: 500;
    font-style: normal;
    color: #6f787b;
  }

  .center-mobile {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 35px;
  }

  .container-logo-mobile {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 16px;
  }

  footer {
    height: 253px;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .all-footer {
    flex-direction: column;
    gap: 24px;
  }

  .socials {
    justify-content: center;
  }

  .footer-logo {
    height: 100px;
    width: 100px;
  }

  .right-text {
    text-align: center;
    font-size: 12px;
  }
}
